/SingletonPattern/FactoryPattern/obj/
/SingletonPattern/SingletonPattern/obj/
/SingletonPattern/FactoryPattern/bin/
/SingletonPattern/.vs/
/SingletonPattern/SingletonPattern/bin/
/SingletonPattern/SingletonPattern/obj/
/SingletonPattern/SingletonPattern/bin/
